*{
	padding:0;
}

h1
{
	color: blue;
} 

li
{
	display:inline;
	padding: 10px;
	border: 2px solid black;
}

ul
{   
	color: red;
	width: 20%;
	margin:0 auto ;

}

.headers
{
  font-family: helvetica; 
  font-size: 20px;
}
#homeLink
{
	text-decoration: none;
	color:tomato;
}
